.container-body {
    display: flex;
    flex-flow: column;
    width: 100vw;
}

.container-main {
    display: flex;
    flex-flow: row;
    width: 100vw;
    height: calc(100vh - 5rem);
}

#nav {
    width: 100vw;
    /* background-color: rgb(39, 46, 88); */
    background-color: white;
}

img {
    position: relative;
    display: flex;
    flex-flow: row;
    width: 16.7vw;
    height: 4.1vw;
    top: -0.6rem;
}

aside {
    display: flex;
    flex-flow: column;
    flex: .2;
    background-color: rgb(39, 46, 88);
    height: 100%;
    width: 100%;
}

#card {
    background-color: rgb(39, 46, 88);
}

.main {
    display: flex;
    flex-flow: column;
    flex: 1;
    width: 100%;
    height: 100vw;
    background-color: rgba(147, 147, 147, 0.678);
}

main h3 {
    padding: 2rem;
}

.table {
    background-color: white;
    padding: 2rem;
    width: 95%;
    margin: 2rem;
}

#student {
    border: none;
    color: white;
    margin: 0.5rem;
    padding: 0.1rem 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    height:5vh;
    width:  15.6vw;
    text-decoration: none;
}
#teacher {
    background: rgb(66, 78, 146);
    border: none;
    color: white;
    margin: 0.5rem;
    padding: 0.1rem 1rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    height:5vh;
    width:  15.6vw;
    text-decoration: none;
}

#tab{
    background-color: orange;
}

#table{
    background-color: white;
}